/* start custom scss snippet */
@font-face {
  font-family: "JetBrainsMono Nerd Font Mono";
  src: url("/assets/JetBrains Mono Regular Nerd Font Complete Mono.ttf") format("ttf");
}
/* 更改正文字体 */
.page__main {
  font-family: 'JetBrainsMono Nerd Font Mono', Times, Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
}
/* end custom scss snippet */
